.blog-entry {
  &--small {
    margin-bottom: 2em;

    .copy {
      padding: 1em;
      border: 1px solid lightgray;

      @include large {
        padding: 2.5em 10%;
      }
      @include x-large {
        padding: 3.5em 13.5%;
      }
    }

    h2 + p {
      margin-top: .5em;
    }
    .more-info {
      display: block;
      text-align: right;
      padding-top: 1em;
    }

    .meta {
      font-style: italic;
    }

    @include large {
      margin-bottom: 4em;
    }
  }
}