{% set pageId = 'blog' %}
{% set headerClass = 'dark' %}
{% set pageClass = 'aux-page' %}

{% extends "_layout" %}

{% block content %} 
  <section class="white">
    <div class="grid-row grid-row--narrow grid-row--fully-padded">
      <div class="copy-wrap gs--full">
        <div class="copy">
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1 class="center xxx-large">{{ entry }}</h1>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="gs--full filter-controls">
            <ul class="center">
              <li class="active">
                <a href="/blog">
                  <span>Blog</span>
                  <svg class="icon icon-triangle-down" role="link" viewBox="0 0 30 30">
                    <use xlink:href="#icon-triangle-down"></use>
                  </svg> 
                </a>
              </li>
              <li>
                <a href="/press">
                  <span>Press</span>
                  <svg class="icon icon-triangle-down" role="link" viewBox="0 0 30 30">
                    <use xlink:href="#icon-triangle-down"></use>
                  </svg> 
                </a>
              </li>
            </ul>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </section>
  <section class="white">
    <div class="grid-row grid-row--padded blog-entry blog-entry--small">
      <div class="gs--full">
        <figure>
          <img src="/images/pages/blog/FPO.jpg" alt="">
        </figure>
        <div class="copy">
          <p class="meta">Author Name, July 27, 2015</p>
          <h2 class="large">Title of Article</h2>
          <p>Body copy text sizing. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
          <div class="more-info">
            <a href="/meet-kube">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row grid-row--padded blog-entry blog-entry--small">
      <div class="gs--full">
        <figure>
          <img src="/images/pages/blog/FPO.jpg" alt="">
        </figure>
        <div class="copy">
          <p class="meta">Author Name, July 27, 2015</p>
          <h2 class="large">Title of Article</h2>
          <p>Body copy text sizing. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
          <div class="more-info">
            <a href="/meet-kube">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row grid-row--padded blog-entry blog-entry--small">
      <div class="gs--full">
        <figure>
          <img src="/images/pages/blog/FPO.jpg" alt="">
        </figure>
        <div class="copy">
          <p class="meta">Author Name, July 27, 2015</p>
          <h2 class="large">Title of Article</h2>
          <p>Body copy text sizing. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
          <div class="more-info">
            <a href="/meet-kube">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row grid-row--padded blog-entry blog-entry--small">
      <div class="gs--full">
        <figure>
          <img src="/images/pages/blog/FPO.jpg" alt="">
        </figure>
        <div class="copy">
          <p class="meta">Author Name, July 27, 2015</p>
          <h2 class="large">Title of Article</h2>
          <p>Body copy text sizing. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
          <div class="more-info">
            <a href="/meet-kube">Read More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-row grid-row--padded blog-entry blog-entry--small">
      <div class="gs--full">
        <figure>
          <img src="/images/pages/blog/FPO.jpg" alt="">
        </figure>
        <div class="copy">
          <p class="meta">Author Name, July 27, 2015</p>
          <h2 class="large">Title of Article</h2>
          <p>Body copy text sizing. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...</p>
          <div class="more-info">
            <a href="/meet-kube">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}